.expander-button-container {
    position: relative;
}

.expander-button-wrapper {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    background-color: rgba(230, 244, 255, 0);
    color: rgb(33, 150, 243);
    font-weight: 600;
    cursor: pointer;
    padding: 6px 14px;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.15s ease 0s;
}

.expander-button-text {

}

.expander-button-icon {
    margin-right: 2px;
}

.expander-button-icon > svg > polygon {
    fill: rgb(33, 150, 243);
}
