.avatar-container {
    padding-top: 12px;
    user-select: none;
}

.avatar-wrapper {
    display: flex;
}

.avatar-picture {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background-color: rgb(242, 245, 250);
    background-image: url(https://resumeiostorage.s3.amazonaws.com/uploads/user/avatar/3702755/thumb_photo.jpg?version=fbc5a3846);
    background-size: cover;
    flex: 0 0 60px;
    border-radius: 3px;
    overflow: hidden;
}

.avatar-edit-wrapper {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(33, 150, 243);
    cursor: pointer;
    flex-flow: row nowrap;
    transition: color 0.1s ease 0s;
    padding: 2px 0px;
}

.avatar-edit-icon {
    margin-right: 4px;
    display: inline-block;
}

.avatar-edit-icon > svg > path {
    fill: rgb(33, 150, 243);
}

.avatar-delete-wrapper {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: rgb(152, 161, 179);
    flex-flow: row nowrap;
    transition: color 0.1s ease 0s;
    padding: 2px 0px;
}

.avatar-delete-icon {
    margin-right: 4px;
    display: inline-block;
}

.avatar-delete-icon > svg > path {
    fill: rgb(207, 214, 230);
}
