.close-button {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(15, 20, 31, 0.3);
    border-radius: 20px;
    transition: background-color 0.1s ease 0s;
    text-decoration: none;
}

.close-button path {
    fill: white;
}
